<%- include('header.ejs') %>
<link rel="stylesheet" href="/stylesheet/style.css">
<body class="user-select-none">
    <section id="contact">
        <div class="portfolio text-center my-4">
            <h1 class="main-line"> Contact <span class="text-warning"> me</span>
            </h1>
        </div>

        <div class="container my-3">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="card shadow-5-strong">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 my-3">
                                    <h4 class="fw-bold text-start work-line">Message Me</h4>
                                    <hr>
                                    <form action="#" method="POST">
                                        <div class="form-row my-3">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder=" Your name" required>
                                        </div>
                                        <div class="form-row my-3">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder=" Your Email" required>
                                        </div>
                                        <div class="form-row my-3">
                                            <label for="subject">Subject</label>
                                            <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder=" Your Subject" required>
                                        </div>
                                        <div class="form-row my-3">
                                            <label for="msg">Message</label>
                                            <textarea name="msg" id="msg" cols="65" rows="5" class="form-control form-control-lg" placeholder="Type your message.." required></textarea>
                                        </div>
                                        <div class="form-row my-3">
                                            <button class="btn btn-primary">Send</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-4 text-center my-3">
                                    <h4 class="fw-bold text-start work-line">Contact Details</h4>
                                    <hr>
                                    <br>
                                    <div class="row my-3">
                                        <div class="col">
                                            <i class="fa fa-phone fa-3x text-success"></i>
                                            <p class="fs-5 my-1">Call Me</p>
                                            <span>+91 9284827557</span>
                                        </div>
                                    </div>

                                    <div class="row my-3">
                                        <div class="col">
                                            <i class="fa fa-envelope fa-3x text-warning"></i>
                                            <p class="fs-5 my-1">Email Me</p>
                                            <span>ashwinianantsarwade@gmail.com</span>
                                        </div>
                                    </div>

                                    <div class="row my-3">
                                        <div class="col">
                                            <i class="fa fa-map-marker-alt fa-3x text-danger"></i>
                                            <p class="fs-5 my-1">Address</p>
                                            <span>Pune , Maharashtra</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer class="bg-dark text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center text-white  p-3">
            © 2020 Copyright:
            <a class="text-white " href="index.html">Portfolio.Demo</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- MDB -->
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js "></script>
</body>
